html {
  background-color: gray;
}

.entire-webpage{
  text-align: center;
}
img {

width: 600px;
  
  }

.meatballs img {
width: 500px;
                  
}

  header {
    color: rgb(0, 0, 0); 
  background-color: red;
  }

 ul {
  list-style-type: none;
  font-size: 20px;
  font-weight: bold;
}
 a:link {
  text-decoration: none;
 }
 a {
  
  box-shadow: inset 0 0 0 0 blue;
  color: blue;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a:hover {
  box-shadow: inset 200px 0 0 0 blue;
  color: white;
}